# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv/
ENV/
env.bak/

# VSCode settings
.vscode/

# macOS system file
.DS_Store

# Logs
*.log

# Models / uploads / data
/models/
uploads/
data/
*.pkl
*.joblib
*.h5
*.onnx

# Build artifacts
build/
dist/
*.egg-info/

# Node / frontend build
node_modules/
dist/

# Dev Container
.devcontainer/.env
.devcontainer/.env.local

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Temporary files
tmp/
temp/
